
.outercircle {
    width: 700px;
    height: 700px;
    border: 20px solid silver;
    position: relative;
    border-radius: 50%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innercircle {
    width: 550px;
    height: 550px;
    border: 20px solid black;
    border-radius: 50%;
    filter: blur(0.4px);
    position: absolute;
    box-shadow: 0 0 20px silver, 
    0 0 40px rgb(180, 53, 235), 
    0 0 60px rgb(78, 232, 240);
    animation: glow 2s infinite alternate;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 15px rgb(238, 57, 168),
         0 0 30px silver, 
         0 0 45px purple;
    }
    100% {
        box-shadow: 0 0 65px rgb(49, 230, 230), 
        0 0 85px silver, 
        0 0 105px rgb(152, 5, 125);
    }
}
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transition: transform 1.5s linear;
}
